body
{
	background-color: #888888;
}
#lnav
{
	position: fixed;
	width: 15%;
	height: 100%;
	float: left;
	background-color: #313232;
	color: #d9ff26;
}
#lnav a
{
	color: #d9ff26;
}
#container
{
	background-color: #888888;
	margin-left: 20%;
}
.post
{
	background-color: #AAAAAA;
	margin-bottom: 25px;
	padding: 6px;
}
.post_content
{
    background-color: #FAFAFA;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.post_title
{
	text-decoration: underline;
	font-weight: bold;
}
.post_date
{
	float: right;
}