body
{
	background-color: #58587B;
}
#lnav
{
	position: fixed;
	width: 15%;
	height: 100%;
	float: left;
	background-color: #313232;
	color: #d9ff26;
}
#lnav a
{
	color: #d9ff26;
}
#container
{
	margin-left: 20%;
}
.post
{
	background-color: #BBBBBB;
	margin-bottom: 25px;
	padding: 6px;
}
.post_content
{
    background-color: #FAFAFA;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.post_title
{
	text-decoration: underline;
	font-weight: bold;
}
.post_footer
{
	background-color: #41944F;
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.post_views
{
	font-weight: bold;
	color: #120000;
}
.post_date
{
	float: right;
	color: #E6E6E6;
}